/* TicketConfirmation.css */
.ticket-confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px); /* Adjusted for Navbar and Footer */
    padding-top: 100px; /* Add padding to avoid overlap with Navbar */
    padding-bottom: 100px; /* Add padding to avoid overlap with Footer */
    background-color: #f8f9fa;
    box-sizing: border-box;
  }
  
  .ticket-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
  }
  
  .ticket-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .ticket-content {
    padding: 20px;
  }
  
  .ticket-content h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .ticket-content p {
    margin: 10px 0;
    color: #555;
  }
  
  .print-ticket-btn, .back-home-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .print-ticket-btn:hover, .back-home-btn:hover {
    background-color: #0056b3;
  }
  
  .back-home-btn {
    background-color: #28a745;
  }
  
  .back-home-btn:hover {
    background-color: #218838;
  }
  